li{
  list-style: none;
  color: black;
  background-color: rgba(255, 255, 255, .6);

}

.article{
  margin: 0 3vw 3vw;
  padding: 3% 3% 5% 3%;
  text-decoration: none;
}

.article img{
  /* position: absolute; */
  margin: 0 auto;
  width: 100%;
  display: block;
}

@media (min-width: 420px){
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
    align-content: flex-start;
  } 
  
  li.article{
    width: 40%;
    margin: 2vw auto;
}

  li img{
    margin-top: 2vw;
    width: 100%;
    display: block;
    height: auto;
  }
}

@media (min-width: 760px){
    
  ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; 
      align-content: flex-start;
      /* width: 100vw;       */
  }

  li.article{
      width: 25%;
      margin: 2vw auto;
  }

  li img{
    /* position: absolute; */
    margin-top: 2vw;
    width: 100%;
    display: block;
    height: auto;
  }
}