<header>
        <div id="logo">
            <div id="a">A</div>
            <div id="t">T</div>
        </div>
        <nav role="navigation">
            <ul>
                <li><a href="index.html">⌂</a></li>
                <li><a href="about.html">ℹ</a></li>
                <li><a href="contact.html">✆</a></li>
            </ul>
        </nav>
</header>

<main>
    <div id="loading" class="hidden">Loading...</div>
    <section id="search"></section>
    <section id="paging"></section>
    <section id="news"></section>
    <section id="headlines"></section>
</main>

<footer>
    &copy; 2008 My News
</footer>