.hidden {
    display: none;
  }

#loading {
    position: absolute;
    z-index: 1;
    top: 0; bottom: 0;
    right: 0; left: 0;
    color: blue;
    background: white;
    opacity: .7;
    text-align: center;
    padding-top: 100px;
 }

 