#hamburger-icon {
  width: 40px;
  position: absolute;
  top: -3.8rem;
  right: .5rem;
}

nav {
  position: relative;
}

#categories {
  background-color: rgb(132,132,132);
  text-align: center;
  font-size: 1.2rem;
}

nav > ul > li:hover {
  text-decoration: underline;
}