body {
    font: 100%/1.5 Georgia, 'Times New Roman', Times, serif;
    color: #222;
    background: linear-gradient(to top, #E4E6E7, #F7F9FA);
}

/* responsive images */
.thumbnail {
    display: block;
    width: 80%;
    height: auto;
}

/* hide screen-reader only text. https://webaim.org/techniques/css/invisiblecontent/ */
.clip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

a {
    text-decoration: none;
}

h1, h2, h3, p {margin: 1rem 0 2rem;}

h1, h2, h3 {
    font-weight: bold;
    line-height: 1.2;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.3rem;}
p {font-size: 1.2rem;}
figcaption, small {font-size: 1rem;}

article, aside, footer {padding: 1rem;}

header { background: linear-gradient(to right, #536976, #292e49);}

article {border-bottom: 2px solid #ddd;}

section {margin-top: 1rem;}

figcaption {
    color: #666;
    margin: 1rem 0 2rem;
}

footer {
    color: white;
    background: linear-gradient(to right, #536976, #292e49);
    line-height: 1.2;
    text-align: center;
}

/*header!!!!!!!!*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    background-color: #FF1300;
    margin: 0 2rem;
    height: 8rem;
    width:9rem  
}
#a {
    margin-left: 20%;
    color: white;
    font-size: 4rem;
    animation-name: example;
    animation-duration: 3s;
}
#t {
    margin: -45% 54%;
    color: white;
    font-size: 4rem;
    animation-name: example;
    animation-duration: 2s;
}
nav li {
    width: 3rem;
    height: 3rem;
}
nav li a {
    color: white;
    font-size: 2rem;
    margin-left: 0.8rem;
    transform: scaleX(0);
    transition: .25s linear;
}
nav li a:hover {
    font-size: 2.6rem;
    color:#FF1300;
    transform: scaleX(1);
}

.main {
    width: 70%;
    margin: 0 auto;
}

.head-line-text{text-align: center;}


@media only screen  and (min-width : 900px) {
    
    .main {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: row;
    }
    .news-container {
        display:flex;
        flex-wrap: wrap;
        align-content: row;
    }
    .article {
        width: 280px;
        height: 720px;
        justify-content: space-between;
    }
   
}