<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <h1> <img id="tech-crunch-logo" src="./images/tech-crunch-logo.png" alt="Tech Crunch Logo">
            Tech Crunch News Stories</h1>
    </header>
    <main>
        <div id="loading" class="hidden">Loading..</div>
        <section id="search"></section>
        <section id="paging"></section>
        <section id="news"></section>
    </main>
</body>
<!-- <footer>API from newsapi.org</footer> -->
</html>